#### Importing libraries

In [1]:
import pandas as pd
import numpy as np
import math
from datetime import datetime, timedelta

#### Importing dataset

In [3]:
# importing filtered dataset that we created in question6
census_data = pd.read_csv("filtered_census_data.csv")

#### Dropping irrelevant columns

In [4]:
census_data.drop(columns=['Total_Male_Population','Total_Female_Population'],inplace=True)
census_data

                      District  Total_Population                        State
0                      Kupwara            870354            Jammu and Kashmir
1                       Badgam            753745            Jammu and Kashmir
2                  Leh(Ladakh)            133487            Jammu and Kashmir
3                       Kargil            140802            Jammu and Kashmir
4                        Punch            476835            Jammu and Kashmir
..                         ...               ...                          ...
635                       Mahe             41816                   Puducherry
636                   Karaikal            200222                   Puducherry
637                   Nicobars             36842  Andaman and Nicobar Islands
638  North  and Middle Andaman            105597  Andaman and Nicobar Islands
639              South Andaman            238142  Andaman and Nicobar Islands

[640 rows x 3 columns]

In [5]:
vaccine_data = pd.read_csv("state-vaccinated-count-week.csv")
vaccine_data

                            state  week    dose1    dose2
0     Andaman and Nicobar Islands     1        0        0
1     Andaman and Nicobar Islands     2      897        0
2     Andaman and Nicobar Islands     3     1140        0
3     Andaman and Nicobar Islands     4      720        0
4     Andaman and Nicobar Islands     5      260        0
...                           ...   ...      ...      ...
1111                  West Bengal    27   835366  1096734
1112                  West Bengal    28   946725   734887
1113                  West Bengal    29  1350077   486888
1114                  West Bengal    30  2121735   388892
1115                  West Bengal    31  1856470   318877

[1116 rows x 4 columns]

In [6]:
# using one of the output file of question no 8
state_vacine_dose_ratio = pd.read_csv("state-vaccinated-dose-ratio.csv")
state_vacine_dose_ratio

                          state  vaccinateddose1ratio  vaccinateddose2ratio
0   Andaman and Nicobar Islands              0.669024              0.247309
1                Andhra Pradesh              0.377624              0.127726
2             Arunachal Pradesh              0.407490              0.116720
3                         Assam              0.330196              0.071971
4                         Bihar              0.244371              0.048358
5                    Chandigarh              0.694925              0.231514
6                  Chhattisgarh              0.281790              0.088583
7                           Goa              0.763592              0.226190
8                       Gujarat              0.454086              0.138737
9                       Haryana              0.375539              0.114609
10             Himachal Pradesh              0.722872              0.220798
11            Jammu and Kashmir              0.464754              0.130322
12                    Jharkhand              0.261383              0.061652
13                    Karnataka              0.384144              0.115661
14                       Kerala              0.518534              0.199507
15                  Lakshadweep              0.801297              0.277248
16               Madhya Pradesh              0.437593              0.086180
17                  Maharashtra              0.362366              0.127479
18                      Manipur              0.355099              0.081517
19                    Meghalaya              0.275793              0.075046
20                      Mizoram              0.614337              0.199138
21                     Nagaland              0.261276              0.075601
22                       Odisha              0.359507              0.088929
23                   Puducherry              0.589896              0.169639
24                       Punjab              0.293003              0.088638
25                    Rajasthan              0.419698              0.131726
26                   Tamil Nadu              0.279566              0.065001
27                      Tripura              0.498012              0.142802
28                Uttar Pradesh              0.236125              0.045542
29                  Uttarakhand              0.574456              0.183995
30                  West Bengal              0.348942              0.131899

#### finding no of doses administered in each district in last week

In [7]:
last_week_vaccine_data = vaccine_data[vaccine_data['week']==31]
last_week_vaccine_data

                                         state  week    dose1   dose2
30                 Andaman and Nicobar Islands    31    17688    3038
61                              Andhra Pradesh    31  1039018  345116
92                           Arunachal Pradesh    31    12957   16353
123                                      Assam    31  1242697  292703
154                                      Bihar    31  2227472  459602
185                                 Chandigarh    31    46970   26120
216                               Chhattisgarh    31   260467  213065
247   Dadra and Nagar Haveli and Daman and Diu    31    18093   11509
278                                      Delhi    31   506741  329534
309                                        Goa    31    25430   34850
340                                    Gujarat    31  2758409  872633
371                                    Haryana    31   539785  349022
402                           Himachal Pradesh    31   760570  152737
433                          Jammu and Kashmir    31   311680  117916
464                                  Jharkhand    31   540228  174393
495                                  Karnataka    31  1193412  541653
526                                     Kerala    31  1864857  292218
557                                     Ladakh    31     1109    2866
588                                Lakshadweep    31      827    1014
619                             Madhya Pradesh    31  2453364  451853
650                                Maharashtra    31  1656504  866488
681                                    Manipur    31    23004   27890
712                                  Meghalaya    31    36387   31054
743                                    Mizoram    31     7015   12739
774                                   Nagaland    31     9624   10963
805                                     Odisha    31  1282572  324652
836                                 Puducherry    31    19944    6756
867                                     Punjab    31   550390  315711
898                                  Rajasthan    31  1869416  739438
929                                     Sikkim    31     4509    7299
960                                 Tamil Nadu    31  1240484  280844
991                                  Telangana    31   511868  258336
1022                                   Tripura    31    28407   26677
1053                             Uttar Pradesh    31  3049900  788694
1084                               Uttarakhand    31   472556  147531
1115                               West Bengal    31  1856470  318877

#### finding total population in each state

In [8]:
census_state_data = census_data.groupby(['State']).sum().reset_index()
census_state_data.rename(columns={'State':'state'}, inplace=True)
census_state_data

                          state  Total_Population
0   Andaman and Nicobar Islands            380581
1                Andhra Pradesh          84580777
2             Arunachal Pradesh           1383727
3                         Assam          31205576
4                         Bihar         104099452
5                    Chandigarh           1055450
6                  Chhattisgarh          25545198
7        Dadra and Nagar Haveli            343709
8                 Daman and Diu            243247
9                           Goa           1458545
10                      Gujarat          60439692
11                      Haryana          25351462
12             Himachal Pradesh           6864602
13            Jammu and Kashmir          12541302
14                    Jharkhand          32988134
15                    Karnataka          61095297
16                       Kerala          33406061
17                  Lakshadweep             64473
18               Madhya Pradesh          72626809
19                  Maharashtra         112374333
20                      Manipur           2855794
21                    Meghalaya           2966889
22                      Mizoram           1097206
23                     Nagaland           1978502
24                 Nct Of Delhi          16787941
25                       Odisha          41974218
26                   Puducherry           1247953
27                       Punjab          27743338
28                    Rajasthan          68548437
29                       Sikkim            610577
30                   Tamil Nadu          72147030
31                      Tripura           3673917
32                Uttar Pradesh         199812341
33                  Uttarakhand          10086292
34                  West Bengal          91276115

#### merging vaccination dataset and population dataset

In [9]:
temp = pd.merge(state_vacine_dose_ratio, census_state_data, on=['state'])
merged_df = pd.merge(temp, last_week_vaccine_data, on=['state'])
merged_df.drop(columns=['vaccinateddose2ratio','dose2','week'], inplace=True)
merged_df

,state,vaccinateddose1ratio,Total_Population,dose1
0,Andaman and Nicobar Islands,0.669024,380581,17688
1,Andhra Pradesh,0.377624,84580777,1039018
2,Arunachal Pradesh,0.407490,1383727,12957
3,Assam,0.330196,31205576,1242697
4,Bihar,0.244371,104099452,2227472
5,Chandigarh,0.694925,1055450,46970
6,Chhattisgarh,0.281790,25545198,260467
7,Goa,0.763592,1458545,25430
8,Gujarat,0.454086,60439692,2758409
9,Haryana,0.375539,25351462,539785
10,Himachal Pradesh,0.722872,6864602,760570
11,Jammu and Kashmir,0.464754,12541302,311680
12,Jharkhand,0.261383,32988134,540228
13,Karnataka,0.384144,61095297,1193412
14,Kerala,0.518534,33406061,1864857
15,Lakshadweep,0.801297,64473,827
16,Madhya Pradesh,0.437593,72626809,2453364
17,Maharashtra,0.362366,112374333,1656504
18,Manipur,0.355099,2855794,23004
19,Meghalaya,0.275793,2966889,36387
20,Mizoram,0.614337,1097206,7015
21,Nagaland,0.261276,1978502,9624
22,Odisha,0.359507,41974218,1282572
23,Puducherry,0.589896,1247953,19944
24,Punjab,0.293003,27743338,550390
25,Rajasthan,0.419698,68548437,1869416
26,Tamil Nadu,0.279566,72147030,1240484
27,Tripura,0.498012,3673917,28407
28,Uttar Pradesh,0.236125,199812341,3049900
29,Uttarakhand,0.574456,10086292,472556
30,West Bengal,0.348942,91276115,1856470

#### finding no of people who are are not vaccinated even by first dose

In [11]:
merged_df['rem_population'] = (merged_df['Total_Population'] - (merged_df['Total_Population']*merged_df['vaccinateddose1ratio'])).apply(np.floor)

#### finding rate of vaccination

In [10]:
merged_df['rate_of_vaccination'] = (merged_df['dose1']/merged_df['Total_Population'])*100

#### findind date on which complete population of a state is expected to vaccinated at least by first dose

In [12]:
merged_df['date'] = pd.to_datetime('2021-08-14') + pd.to_timedelta(((merged_df['Total_Population']/merged_df['dose1'])*7).apply(np.floor), unit = 'D')

In [13]:
merged_df['rem_population'] = merged_df['rem_population'].astype('int')
merged_df

,state,vaccinateddose1ratio,Total_Population,dose1,rate_of_vaccination,rem_population,date
0,Andaman and Nicobar Islands,0.669024,380581,17688,4.647631,125963,2022-01-11
1,Andhra Pradesh,0.377624,84580777,1039018,1.228433,52641022,2023-03-06
2,Arunachal Pradesh,0.407490,1383727,12957,0.936384,819872,2023-08-31
3,Assam,0.330196,31205576,1242697,3.982291,20901620,2022-02-05
4,Bihar,0.244371,104099452,2227472,2.139754,78660525,2022-07-07
5,Chandigarh,0.694925,1055450,46970,4.450234,321991,2022-01-18
6,Chhattisgarh,0.281790,25545198,260467,1.019632,18346811,2023-07-01
7,Goa,0.763592,1458545,25430,1.743518,344812,2022-09-19
8,Gujarat,0.454086,60439692,2758409,4.563903,32994852,2022-01-14
9,Haryana,0.375539,25351462,539785,2.129207,15831002,2022-07-08
10,Himachal Pradesh,0.722872,6864602,760570,11.079594,1902373,2021-10-16
11,Jammu and Kashmir,0.464754,12541302,311680,2.485228,6712685,2022-05-22
12,Jharkhand,0.261383,32988134,540228,1.637643,24365584,2022-10-15
13,Karnataka,0.384144,61095297,1193412,1.953361,37625935,2022-08-07
14,Kerala,0.518534,33406061,1864857,5.582391,16083896,2021-12-17
15,Lakshadweep,0.801297,64473,827,1.282707,12811,2023-02-10
16,Madhya Pradesh,0.437593,72626809,2453364,3.378042,40845842,2022-03-09
17,Maharashtra,0.362366,112374333,1656504,1.474095,71653697,2022-12-01
18,Manipur,0.355099,2855794,23004,0.805520,1841703,2023-12-31
19,Meghalaya,0.275793,2966889,36387,1.226436,2148641,2023-03-07
20,Mizoram,0.614337,1097206,7015,0.639351,423152,2024-08-12
21,Nagaland,0.261276,1978502,9624,0.486429,1461566,2025-07-23
22,Odisha,0.359507,41974218,1282572,3.055619,26884190,2022-03-31
23,Puducherry,0.589896,1247953,19944,1.598137,511790,2022-10-26
24,Punjab,0.293003,27743338,550390,1.983864,19614457,2022-08-01
25,Rajasthan,0.419698,68548437,1869416,2.727146,39778773,2022-04-27
26,Tamil Nadu,0.279566,72147030,1240484,1.719383,51977199,2022-09-25
27,Tripura,0.498012,3673917,28407,0.773207,1844262,2024-02-05
28,Uttar Pradesh,0.236125,199812341,3049900,1.526382,152631716,2022-11-15
29,Uttarakhand,0.574456,10086292,472556,4.685131,4292161,2022-01-10
30,West Bengal,0.348942,91276115,1856470,2.033906,59426079,2022-07-24

#### creating csv file for result

In [14]:
merged_df[['state','rem_population','rate_of_vaccination','date']].to_csv("complete-vaccination.csv", header=['stateid','populationleft','rateofvaccination','date'], index=False)